{% extends 'base.html' %}

{% block contents %}
<div class="container">
    <h1>로그인</h1>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        username:
        <br/>
        <input name="username" type="text" placeholder="아이디">
        <br/>
        password:
        <br/>
        <input name="password" type="password" placeholder="비밀번호">
        <br/>
        <input type="submit" value="로그인">
    </form>
    <a href="{% url 'index' %}">홈으로</a>
</div>
{% endblock %}